In [1]:
import numpy as np
# import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader as web

In [2]:
import yfinance as yf

msft = yf.Ticker("TATAPOWER.NS")
hist = msft.history(period="500d")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-07-02,67.984847,70.233464,67.123672,69.946404,20164926,0.0,0
2019-07-03,70.233464,70.951108,68.415430,70.664047,13757355,0.0,0
2019-07-04,70.329150,70.855426,68.702492,69.037392,4570483,0.0,0
2019-07-05,69.037395,69.372294,67.171515,67.554260,4542388,0.0,0
2019-07-08,67.171514,67.362891,64.444467,65.640541,5025170,0.0,0
...,...,...,...,...,...,...,...
2021-07-01,122.800003,122.800003,121.000000,121.349998,18570986,0.0,0
2021-07-02,122.000000,122.599998,120.599998,120.949997,22789936,0.0,0
2021-07-05,121.949997,126.900002,121.750000,125.900002,61606669,0.0,0
2021-07-06,126.000000,126.500000,122.050003,123.000000,31062811,0.0,0
2021-07-07,123.000000,124.500000,122.150002,123.849998,19752089,0.0,0

In [3]:
new_df = hist.copy()
new_df['year'], new_df['month'], new_df['day'] = hist.index.year, hist.index.month, hist.index.day
new_df

new_df.reset_index(inplace=True,drop=False)
new_df= new_df.drop(['Date'],axis='columns')
new_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,year,month,day
0,67.984847,70.233464,67.123672,69.946404,20164926,0.0,0,2019,7,2
1,70.233464,70.951108,68.415430,70.664047,13757355,0.0,0,2019,7,3
2,70.329150,70.855426,68.702492,69.037392,4570483,0.0,0,2019,7,4
3,69.037395,69.372294,67.171515,67.554260,4542388,0.0,0,2019,7,5
4,67.171514,67.362891,64.444467,65.640541,5025170,0.0,0,2019,7,8
...,...,...,...,...,...,...,...,...,...,...
493,122.800003,122.800003,121.000000,121.349998,18570986,0.0,0,2021,7,1
494,122.000000,122.599998,120.599998,120.949997,22789936,0.0,0,2021,7,2
495,121.949997,126.900002,121.750000,125.900002,61606669,0.0,0,2021,7,5
496,126.000000,126.500000,122.050003,123.000000,31062811,0.0,0,2021,7,6
497,123.000000,124.500000,122.150002,123.849998,19752089,0.0,0,2021,7,7

In [4]:
scaled_close= new_df.drop(['Open','High','Low','Close','Volume','Dividends','Stock Splits'],axis='columns')

scaled_open = new_df[['Close','High','Low','Open']]

scaled_close

     year  month  day
0    2019      7    2
1    2019      7    3
2    2019      7    4
3    2019      7    5
4    2019      7    8
..    ...    ...  ...
493  2021      7    1
494  2021      7    2
495  2021      7    5
496  2021      7    6
497  2021      7    7

[498 rows x 3 columns]

In [5]:
inputs= scaled_close
target = scaled_open
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [6]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train, y_train)

C:\Users\MS\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [7]:
model.score(x_test, y_test)

C:\Users\MS\Anaconda3\lib\site-packages\sklearn\base.py:420: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)

0.9917517266705574

In [66]:
from datetime import timedelta, date

date_req = date.today() + timedelta(days=5)

year = date_req.strftime("%Y")
month = date_req.strftime("%m")
day = date_req.strftime("%d")



print(date_req)

2021-07-12

In [70]:
from datetime import timedelta, date

date_req = date.today() + timedelta(days=50)

year = date_req.strftime("%Y")
month = date_req.strftime("%m")
day = date_req.strftime("%d")

close=[]
high=[]
low=[]
openn=[]
lab=[]
for i in range(50) :
    date_req = date.today() + timedelta(days=i)

    year = date_req.strftime("%Y")
    month = date_req.strftime("%m")
    day = date_req.strftime("%d")
    
    a=model.predict([[year,month,day]])
    for l in a :
        k=(date.today() + timedelta(i))
        print(k)
        lab.append(str(k))
        close.append(l[0])
        high.append(l[1])
        low.append(l[2])
        openn.append(l[3])
print(lab)   
# print("close :",close)
# print("")
# print("high :",high)
# print("")
# print("low :",low)
# print("")
# print("open :" , openn)

2021-07-07
2021-07-08
2021-07-09
2021-07-10
2021-07-11
2021-07-12
2021-07-13
2021-07-14
2021-07-15
2021-07-16
2021-07-17
2021-07-18
2021-07-19
2021-07-20
2021-07-21
2021-07-22
2021-07-23
2021-07-24
2021-07-25
2021-07-26
2021-07-27
2021-07-28
2021-07-29
2021-07-30
2021-07-31
2021-08-01
2021-08-02
2021-08-03
2021-08-04
2021-08-05
2021-08-06
2021-08-07
2021-08-08
2021-08-09
2021-08-10
2021-08-11
2021-08-12
2021-08-13
2021-08-14
2021-08-15
2021-08-16
2021-08-17
2021-08-18
2021-08-19
2021-08-20
2021-08-21
2021-08-22
2021-08-23
2021-08-24
2021-08-25
['2021-07-07', '2021-07-08', '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16', '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20', '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24', '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28', '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-01', '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05', '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13', '2021-08-14', '2021-08-15', '2021-08-16', '2021-08-17', '2021-08-18', '2021-08-19', '2021-08-20', '2021-08-21', '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25']